language: python
python:

  - "3.4"
  # PyPy versions
  - "pypy"
  - "pypy"  # PyPy2 2.5.0
  - "pypy3" # Pypy3 2.4.0
  - "pypy-5.3.1"
  
#services: postgresql
  
#before_install:
 # - export DJANGO_SETTINGS_MODULE="django.settings"
  #- export PYTHONPATH=$HOME/builds/KukkadapuSushma/wise-django-project
 # - export PIP_USE_MIRRORS=true

# command to install dependencies
install:
  - pip install .
  - pip install -r requirements.txt
# command to run tests
script: pytest

#before_script:
 # - psql -c "CREATE DATABASE mydb;" -U postgres

#script:
 # - python manage.py syncdb --noinput
